/*Remove default style*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Logo in the middle of the screen*/
header img { 
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*spacing between anchor tags*/
nav .nav-a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 20px;   
}

 /* when the cursor is over an anchor tag(a link) the anchor tag gets bigger and tuns white.*/
.nav-a:hover {
    color: rgb(255, 0, 0);
}
  /*The background colour of the boarder is changed to show that the section of the page is different*/

  /*the whole footer has a red background.*/
footer {
  min-height: 90px;
  background: rgb(141, 139, 139);
  padding: 50px 70px;
  /*background-image: url(./_images/redcar3.jpg);*/
  background-size: cover;
  background-position: center;
}





/*main{
  width: 100%;
 background: 
        linear-gradient(
            to top, 
            rgba(0, 0, 0, 0.5) 50%, 
            rgba(0, 0, 0, 0.5) 50%
        ), ;
  background-position: center;
  background-size: cover;
  height: 109vh;
}*/

ul.navLi{
  float: left;
  display: flex;
 
  
}

ul li{
  list-style: none;
  margin-left: 62px;
  margin-top: 27px;
  font-size: 14px;
}

ul li a{
  text-decoration: none;
  color: rgb(2, 2, 2);
  font-family: Arial;
  font-weight: bold;
  transform: 0.4s ease-in-out;
}

.search{
  width: 330px;
  float: left;
  margin-left: 280px;
}

.searchInput {
  font-family: 'Times New Roman';
  border-radius: 45px;
  width: 230px;
  height: 40px;
  background: transparent;
  border: 1px solid #c50e0e;
  margin-top: 13px;
  color: rgb(0, 0, 0);
  border-right: none;
  font-size: 16px;
  float: left;
  padding: 10px;
 
  
}

.btnSearch{
  width: 100px;
  height: 40px;
  background: #c50e0e;
  border: 2px solid #c50e0e;
  margin-top: 13px;
  color: white;
  font-size: 15px;
   border-radius: 45px;
}

.btnSearch:focus{
  outline: none;
}

.searchInput:focus{
  outline: none;
}

/*Gallery screen.*/
.gallery-house {
  position: absolute;
  top:62%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: white;
  box-shadow: 0 30px 50px rgba(255, 255, 255, 0.3);
}

.first{
  background-size: cover;
  background-position: center;
  height: 400px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.gallery-house .switch-item .item {
  width: 200px;
  height: 300px;
  position:absolute;
  top: 50%;
  transform: translate(0, -50%);
  border-radius:20px;
  box-shadow: 0 30px 50px rgba(255, 255, 255, 0.3);
  background-position: 50% 50%;
  background-size:cover;
  display: inline-block;
  transition: 0.5s;
}

.switch-item .item:nth-child(1),
.switch-item .item:nth-child(2) {
 top: 0;
 left:0;
 transform: translate(0,0);
 border-radius: 0;
 width: 100%;
 height: 100%;
}

.switch-item .item:nth-child(3) {
  left: 50%;
}

.switch-item .item:nth-child(4) {
  left: calc(50% + 220px);
}
.switch-item .item:nth-child(5) {
  left: calc(50% + 440px);
}
.switch-item .item:nth-child(n+6) {
  left: calc(50% + 660px);
  opacity: 0;
}

.item .content {
  position: absolute;
  top: 50%;
  left: 100px;
  width: 300px;
  text-align: left;
  color: white;
  transform: translate(0, -50%);
  font-family: system-ui;
  display: none;
}
.switch-item .item:nth-child(2) .content {
  display:block;
}

.content .name {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0;
  animation: animate 1s ease-in-out 1 forwards;
}
.content .des {
  margin-top: 10px;
  margin-bottom: 20px;
  opacity: 0;
  animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  opacity: 0;
  animation: animate 1s ease-in-out 0.6s 1 forwards;
}
@keyframes animate {
  from{
    opacity: 0;
    transform: translate(0, 100px);
    filter : blur(33px);
  }
  to{
    opacity: 1;
    transform: translate(0);
    filter : blur(0px);
  }
}

.btn {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
}

.btn button {
  width: 40px;
  height: 35px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  border: 1px solid black;
  transition: 0.3s;
}

.btn button:hover {
  background: rgb(144, 139, 139);
  color: white;
}



.achievements img{
 width: 100px;
 height: 100px;
 align-items: center;
 justify-items: center;
}

/*lightbox*/
.imglight{
  background-color: black;
  margin: 60px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 12px 45px 45px black;
}

.Service{
  overflow: hidden;
  height: 360px;
  margin: 10px;
}

.Service img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-out;
  border: 1px solid wheat;
}

.Service img:hover {
transform: scale(1.1);
}

.modal{
  background-color: slategray;
  position: fixed;
  margin: 60px;
  top: 0;
  left: 0;
  width: 91%;
  height: 400px;
  border-radius: 8px;
  opacity: 0;
  pointer-events:none ;
  transition: opacity 0.3s ease-out;
}

.full-img {
  position: absolute;
  height: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  border: 1px solid yellow;
  transition: all 0.3 ease-out;
}

.full-img.open {
  transform: translate(-50%, -50%) scale(1);
}

.modal p {
  color: #ffe6e6;
  font-size: 16px;
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%, -5%);
}












/*the end of gallery styling*/

    /*div.grid-container{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    display: flex;
    padding: 20px;
    margin: 20px;
    justify-items: center;
    background-color: rgb(232, 79, 79);
}*/
    /*When the screen size reaches a certain point the navigation bar ajusts so that the user can see all the links of important pages*/
/*@media (max-width: 1200em) {*/
/*@media (max-width: 37.5em) {  600px  (mobile) */





/*
CODE ATTRIBUTION
Author:Web Dev Simplified
Title:Learn Every CSS Selector In 20 Minutes
Date Published:2020
Link/Accessed at:https://youtu.be/l1mER1bV0N0?si=C1PgGODEBShZ33y_
Date accessed:29/09/2025
*/

/*
CODE ATTRIBUTION
Author:vsync
Title:CSS to make HTML page footer stay at bottom of the page with a minimum height, but not overlap the page
Date Published:2024
Link/Accessed at:https://stackoverflow.com/questions/643879/css-to-make-html-page-footer-stay-at-bottom-of-the-page-with-a-minimum-height-b
Date accessed:29/09/2025
*/

/*
CODE ATTRIBUTION
Author:Nirali
Title:How to put content in box and make it responsive?
Date Published:2018
Link/Accessed at:https://stackoverflow.com/questions/50547612/how-to-put-content-in-box-and-make-it-responsive
Date accessed:29/09/2025
*/

/*
CODE ATTRIBUTION
Author:W3Schools
Title: CSS Links
Date Published:2025
Link/Accessed at:https://www.w3schools.com/css/css_link.asp
Date accessed:30/10/2025
*/
