
/*Remove default style*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Logo in the middle of the screen*/
header img { 
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*Spacing between elements and aligning the items to the center*/
nav{
  background: rgb(194, 187, 187);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
}

/*spacing between anchor tags*/
nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;   
}

 /* when the cursor is over an anchor tag(a link) the anchor tag gets bigger and tuns white.*/
a:hover {
    font-size: large;
    color: white;
   
}

  /*The background colour of the boarder is changed to show that the section of the page is different*/
main {
  flex: 1;
  background: #ef0000;
  border-radius: 45px;
  margin: 24px;
  padding: 24px;
}

  /*the whole footer has a red background.*/
footer {
  min-height: 50px;
  background: rgb(255, 47, 0);
  padding: 150px 70px;
  background-image: url(../_images/redcar3.jpg);
  background-size: cover;
  background-position: center;

}



    /*div.grid-container{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    display: flex;
    padding: 20px;
    margin: 20px;
    justify-items: center;
    background-color: rgb(232, 79, 79);
}*/
    /*When the screen size reaches a certain point the navigation bar ajusts so that the user can see all the links of important pages*/
/*@media (max-width: 1200em) {*/
/*@media (max-width: 37.5em) {  600px  (mobile) */


/*
CODE ATTRIBUTION
Author:Web Dev Simplified
Title:Learn Every CSS Selector In 20 Minutes
Date Published:2020
Link/Accessed at:https://youtu.be/l1mER1bV0N0?si=C1PgGODEBShZ33y_
Date accessed:29/09/2025
*/

/*
CODE ATTRIBUTION
Author:vsync
Title:CSS to make HTML page footer stay at bottom of the page with a minimum height, but not overlap the page
Date Published:2024
Link/Accessed at:https://stackoverflow.com/questions/643879/css-to-make-html-page-footer-stay-at-bottom-of-the-page-with-a-minimum-height-b
Date accessed:29/09/2025
*/

/*
CODE ATTRIBUTION
Author:Nirali
Title:How to put content in box and make it responsive?
Date Published:2018
Link/Accessed at:https://stackoverflow.com/questions/50547612/how-to-put-content-in-box-and-make-it-responsive
Date accessed:29/09/2025
*/

/*
CODE ATTRIBUTION
Author:W3Schools
Title: CSS Links
Date Published:2025
Link/Accessed at:https://www.w3schools.com/css/css_link.asp
Date accessed:30/10/2025
*/
